.idea/

naavre/charts/*.tgz

values/rendered/
values/*.yaml
values/virtual-labs/*.yaml
!values/Chart.yaml
!values/values.yaml
!values/values-example-*.yaml
!values/values-*.public.yaml
!values/values-*.secrets.yaml
!values/virtual-labs/*.public.yaml
!values/virtual-labs/*.secrets.yaml
*.dec

naavre/rendered/

*.drawio.bkp
/NaaVRE-helm/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.DS_Store
